* {
    /* color: rgba(249, 248, 241, 0.84); */
    color: #1d1d1d;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(35, 37, 43);
    background-color: white;
    display: flex;
    font-family: 'Rubik';
    font-size: 16px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.navbar a {
    font-size: 20px;
    padding: 8px 14px;
    margin: 2px;
    text-decoration: none;
    color: rgb(94, 92, 92);
    opacity: 85%;
}

.navbar a:hover {
    text-decoration: underline;
    border-radius: 3px;
}

.greetings {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: #908577;
    padding-top: 17vh;
    padding-bottom: 3vh;
}

h1{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: #908577;
    padding-bottom: 2vh;
}

p {
    font-size: 18px;
    margin-top: 22px;
    margin-right: 8px;
    opacity: 69%;
    line-height: 30px;
    flex-wrap: wrap;
}

/* About Page */

.heading-about {
    text-align: left;
    position: absolute;
    top: 17%;
    left: 13%;
}

.main-paragraph-about {
    text-align: left;
    width: 70%;
    position: absolute;
    top: 35%;
    left: 13%;
    padding-bottom: 10%;
}

.main-paragraph-about p a {
    text-decoration: none;
    color: #b775b7;

}

.main-paragraph-about p a:visited {
    color: #4f59ae;

}

/* Portfolio */

#port{
    padding-top: 3%;
}